.alert {
    border: 1px solid #e5e5e5;
    padding: 0.4em 1em 1.4em 1em;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    position: relative;
}

.alert h3.key-status {
    color: #fff;
    margin: 1em 0 0.5em 0;
}

.alert > button.close {
    position: absolute;
    top: 4px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.alert > button.close:hover {
    color: rgba(255, 255, 255, 1);
}

.alert.critical {
    background-color: #993300;
}

.alert.active {
    background-color: #649316;
}

.alert p.key-status {
    font-size: 24px;
}

.alert p.description {
    color: #fff;
    font-size: 14px;
    margin: 0 0;
    font-style: normal;
}

.dashboard {
    margin-top: 1em;
}

.dashboard *, .dashboard *:before, .dashboard *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dashboard .region {
    background: #fff;
    box-shadow: 1px 2px 10px 0px rgba(150, 150, 150, 0.12);
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 0 10px 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.dashboard > .widget-row {
    display: block;
    clear: both;
}

.widget-row > .region {
    display: inline-block;
    margin-left: 1.5em;
    vertical-align: top;
}

.widget-row > .region:first-child {
    margin-left: 0;
}

.region header {
    display: flex;
}

.region h3 {
    font-weight: 300;
    font-size: 22px;
    line-height: 30px;
    color: #464646;
    height: 40px;
    display: inline-block;
    overflow: hidden;
    padding: 10px 0 0;
    margin: 0;
    flex: 1;
    -webkit-box-flex: 1;
}

.region h3 .title-text {
    max-width: 100%;
    position: relative;
}

.region .toolbar .fa {
    font-size: 22px;
}

.region.ads-advertisers {
    width: 240px;
}

.region.ads-advertisements {
    width: 640px;
}

.toolbar {
    margin-top: 10px;
    font-size: 14px;
}

.toolbar button {
    margin: 0;
    padding: 0;
    height: 30px;
    line-height: 30px;
    border: none;
    background: transparent;
    opacity: 0.6;
}

.toolbar button:hover {
    opacity: 1;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.toolbar button.add { color: #336600; }

button.remove {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    color: rgba(255, 0, 0, 0.5);
    padding: 2px;
    float: right;
}

button.remove:hover {
    color: rgba(255, 0, 0, 1);
}

/* AD VIEW */

.ad-item {
    margin: 0 -10px;
    padding: 10px;
    background-color: #fff;
}

.ad-item:hover {
    background-color: #f7f7f7;
}

.ad-item h3 {
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipse;
    margin: 0;
    padding: 0;
    height: 30px;
    line-height: 30px;
    vertical-align: bottom;
}

.ad-item .controls {
    visibility: hidden;
    float: right;
    vertical-align: middle;
}

.ad-item:hover .controls {
    visibility: visible;
}

.ad-item .controls button {
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    opacity: 0.5;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    color: #58ABC4;
}

.ad-item .controls button:hover {
    opacity: 1;
}

.ad-item p.about {
    margin: 0;
    font-size: 12px;
    color: #999;
    font-style: italic;
    border-left: 3px solid #ddd;
    padding-left: 15px;
}

/* CAMPAIGN VIEW */
.btn {
    border: 1px solid #aaa;
    background-color: #f4f4f4;
    border-radius: 3px;
    font-weight: 300;
    font-size: 15px;
    line-height: 32px;
    vertical-align: middle;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}

.btn:hover {
    background-color: #eaeaea;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.btn.btn-action {
    background-color: #5cb85c;
    color: #fff;
    border-color: #4cae4c;
}

.btn.btn-action:hover {
    background-color: #449d44;
    border-color: #398439;
}

.btn.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn.btn-primary:hover {
    background-color: #286090;
    border-color: #204d74;
}

.campaigns {
    width: 100%;
    margin-top: 15px;
}

.campaigns th {
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    border-bottom: 1px solid #aaa;
    color: #777;
    text-shadow: 1px 1px 0 #fff;
    padding: 4px;
}

.campaigns td {
    font-size: 12px;
    line-height: 18px;
    vertical-align: middle;
    background-color: #f4f4f4;
    padding: 4px;
}

.campaigns .odd > td {
    background-color: #fff;
}

/* MODAL STYLES */
.modal-content label {
    display: block;
    font-weight: 600;
}

.modal-content input[type="text"], .modal-content textarea {
    font-size: 14px;
    line-height: 1.2em;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
}

.modal-content textarea.ad-content {
    display: none;
}

.modal-content .editor-wrap {
    min-height: 160px;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    margin: 4px 0;
}

.modal-content #editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* CAMPAIGN FORM STYLES */

.tabs {
    margin-top: 15px;
}

.tabs ul {
    margin: 0;
    padding: 0;
}

.tabs li {
    display: inline-block;
    margin: 0;
    padding: 0 0 0 4px;
}

.tabs li:first-child {
    padding-left: 0;
}

.tabs li > a {
    display: block;
    padding: 8px 15px;
    background-color: #efefef;
    text-decoration: none;
}

.tabs li > a:hover {
    background-color: #e6e6e6;
}

.tabs li.current > a {
    background-color: #fff;
}

.tabs li.disabled > a {
    background-color: #efefef;
    color: #aaa;
    cursor: default;
}

.tab-content {
    padding: 5px 15px;
    background-color: #fff;
}

.campaign-form .field {
    padding: 5px 0;
}

.campaign-form fieldset {
    margin-top: 25px;
}

.campaign-form fieldset:first-child {
    margin-top: 10px;
}

.campaign-form legend {
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 5px;
    padding: 0;
}

.campaign-form .legend-help {
    font-size: 12px;
    color: #aaa;
    font-weight: 300;
    margin: -5px 0 5px;
}

.campaign-form label {
    width: 100%;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    display: block;
}

.campaign-form .field > .field-helper {
    margin: 0;
    padding: 0;
    font-size: 11px;
    color: #666;
    line-height: 16px;
    font-style: italic;
}

.campaign-form .ad-column {
    display: inline-block;
}

.campaign-form .ad-column:first-child {
    width: 280px;
}

.campaign-form .ad-details h4 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.campaign-form .ad-details .advertiser {
    margin: 0 0 0 25px;
    padding-bottom: 0;
    font-size: 11px;
    color: #8ab;
    font-weight: 300;
}

.campaign-form .ad-details .advertiser > span {
    font-weight: 400;
}

.ad-controls .no-slots {
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fafafa;
    padding: 10px 0 20px;
    text-align: center;
}

.ad-controls .no-slots h3 {
    font-weight: 300;
    padding: 0;
    margin-bottom: 2px;
    font-size: 18px;
}

.ad-controls .no-slots p {
    margin-top: 10px;
    padding: 0;
    font-size: 14px;
    color: #aaa;
}

.ad-slots-list > .list-controls {
    padding: 10px 0;
    float: none;
}

.ad-slots-list > .list-controls .btn {
    font-size: 12px;
    line-height: 24px;
}

.ad-slot {
    display: block;
    border: 1px solid #ddd;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
    height: 32px;
    margin: 8px 0;
}

.ad-slot .slot-option {
    display: inline-block;
    height: 100%;
    padding: 0 10px;
}

.ad-slot .slot-option select {
    padding: 0;
    line-height: 1em;
    height: auto;
    vertical-align: baseline;
}

.ad-slot .slot-option > p {
    margin: 0;
    padding: 0;
}

.ad-slot .slot-option > p.info {
    font-size: 11px;
    font-style: italic;
    color: #aaa;
}

.ad-slot .slot-option.option-label {
    width: 120px;
    background-color: #efefef;
    border-right: 1px solid #ccc;
    padding-left: 10px;
}

.ad-slot .slot-option.option-label h4 {
    font-weight: 300;
    color: #666;
    text-shadow: 1px 1px 1px #fff;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 32px;
}
